<app-header></app-header>
<app-side-menu></app-side-menu>
<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center sous-header">
            <div class="col-lg-8 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">GESTION ADMINISTRATEURS</h4>
            </div>
            <div class="col-lg-4 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex" > 
                    <ol class="breadcrumb ms-auto">
                        <li> <a href="ajout-admin" class="btn btn-orange ">
                            <i class="fas fa-plus" aria-hidden="true"></i>  
                            <b> Ajouter un admin </b>
                        </a></li>
                    </ol>
                   
                </div>
            </div>
        </div>
    </div>
        <!-- Mettre ici le contenu de la page -->
    
    <table class="table no-wrap">
        <thead>
            <tr>
                <th class="border-top-0"><b>Nom_Complet</b></th>
                <th class="border-top-0"><b>Email</b></th>
                <th class="border-top-0"><b>Login</b></th>
                <th class="border-top-0"><b>Genre</b></th>
                <th class="border-top-0"><b>Téléphone</b></th>
                <th class="border-top-0"><b>Action</b></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Modibo Sangaré</td>
                <td>van@gmail.com</td>
                <td>van</td>
                <td>Homme</td>
                <td>23456789</td>
                <td><span class="text-success alignement">
                     <i class="fa fa-edit" aria-hidden="true"></i>
                    <i style="color: red;" class="fa fa-trash" aria-hidden="true" ></i>
                    <i style="color: #03224c;" class="fas fa-info-circle" aria-hidden="true"></i>
                 </span></td>
            </tr>
        </tbody>
    </table>
</div>
